# Segment size:
    2min = 120

# Calculate Mean for each Segment

In [ ]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('feature_files/normalized_merged_autism.csv', keep_default_na=False, na_values=[""])
df

               0         1         2         3         4         5         6
0       0.522377  0.407020  0.511221  0.467724  0.502836  0.523301  0.447376
1       0.522218  0.407093  0.511092  0.469672  0.502339  0.523239  0.446236
2       0.521101  0.406125  0.511598  0.468475  0.501882  0.523815  0.445361
3       0.519353  0.404762  0.510323  0.466965  0.503116  0.524641  0.445295
4       0.518256  0.405134  0.508125  0.469881  0.504702  0.524646  0.445120
...          ...       ...       ...       ...       ...       ...       ...
599547  0.468571  0.352608  0.472292  0.420896  0.446505  0.463298  0.414223
599548  0.468571  0.352608  0.472292  0.420896  0.446505  0.463298  0.414223
599549  0.468571  0.352608  0.472292  0.420896  0.446505  0.463298  0.414223
599550  0.468571  0.352608  0.472292  0.420896  0.446505  0.463298  0.414223
599551  0.468571  0.352608  0.472292  0.420896  0.446505  0.463298  0.414223

[599552 rows x 7 columns]

In [ ]:
# df['0']
# df['1']
# len(df['1'])
# print(df['1'][10:20])

In [ ]:
map = {}
for i in range(7):
    col = str(i)
    N = len(df[col])
    mean = []
    for j in range(0, N, 120):
        mean.append(df[col][j:j + 120].mean())
    map[col] = mean

In [ ]:

# print(map['0'])

In [19]:
result = pd.DataFrame(map)
result.to_csv('feature_files/mean_normalized_merged_autism.csv')

In [46]:
df2 = pd.read_csv('feature_files/normalized_merged_normal.csv', keep_default_na=False, na_values=[""])
df2

               0         1         2         3         4         5         6
0       0.479505  0.823736  0.505324  0.522786  0.504790  0.502587  0.385726
1       0.480316  0.820011  0.508086  0.520821  0.487508  0.499314  0.388539
2       0.475412  0.815755  0.505496  0.522743  0.513204  0.502672  0.387648
3       0.471016  0.815389  0.500450  0.530000  0.554304  0.509673  0.386068
4       0.473008  0.815652  0.501184  0.533240  0.555081  0.511193  0.387307
...          ...       ...       ...       ...       ...       ...       ...
417531  0.413462  0.777803  0.359424  0.332613  0.150162  0.404013  0.108423
417532  0.413462  0.777803  0.359424  0.332613  0.150162  0.404013  0.108423
417533  0.413462  0.777803  0.359424  0.332613  0.150162  0.404013  0.108423
417534  0.413462  0.777803  0.359424  0.332613  0.150162  0.404013  0.108423
417535  0.413462  0.777803  0.359424  0.332613  0.150162  0.404013  0.108423

[417536 rows x 7 columns]

In [27]:
map2 = {}
for i in range(7):
    col = str(i)
    N = len(df2[col])
    mean = []
    for j in range(0, N, 120):
        mean.append(df2[col][j:j + 120].mean())
    map2[col] = mean

In [28]:
result = pd.DataFrame(map2)
result.to_csv('feature_files/mean_normalized_merged_normal.csv')